@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --dark-bg: #424874;
    --main-bg: #A6B1E1;
    --light-bg: #DCD6F7;
    --input-bg: #F4EEFF;
    
    --logo-font: #fff;
    --main-font: #000000;
    
    --main-border: #fff;
    --dark-border: #2a2d49;

    --neon-color: #7C00FE;
    --hover-buttons: #bcc5e9;

    --edit-button: #c76f28;
    --edit-button2: #f5994d;
    --delete-button: #be1e24;
    --delete-button2: #ff4248;
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    background-image: linear-gradient(#000000, #7C00FE);
    /* background-image: linear-gradient(#f2a7ff, rgb(92, 255, 220)); */
    font-family: 'Poppins', sans-serif;
}

textarea {
    resize: none;
}

/* _________________________________________________________ Basic Layout CSS */
.wrapper {
    display: flex;
}

/* Content Container Styles */
#content-container {
    width: 100%;
    overflow: hidden;
    transform: all 0.35s ease-in-out;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    background-image: linear-gradient(var(--dark-bg), var(--main-bg));
    animation: neon-border 1.5s infinite alternate;
    border-left: 0.2rem solid var(--neon-color);
    border-right: 0.2rem solid var(--neon-color);
}

/* Credit to Silvia O'Dwyer from Codepen */
/* https://codepen.io/silvia-odwyer/pen/RwKMOpb */
@keyframes neon-border {
    100% {
        box-shadow:
            0 0 4px #fff,
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 13px var(--neon-color),
            0 0 16px var(--neon-color),
            0 0 19px var(--neon-color),
            0 0 22px var(--neon-color),
            0 0 25px var(--neon-color);
    }

    0% {
        box-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 8px var(--neon-color),
            0 0 10px var(--neon-color),
            0 0 12px var(--neon-color),
            0 0 13px var(--neon-color),
            0 0 15px var(--neon-color);
    }
}

@keyframes neon-text {
    100% {
        text-shadow:
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 30px #fff,
            0 0 43px #bc13fe,
            0 0 56px #bc13fe,
            0 0 65px #bc13fe,
            0 0 72px #bc13fe,
            0 0 80px #bc13fe;
    }

    0% {
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 8px #bc13fe,
            0 0 10px #bc13fe,
            0 0 12px #bc13fe,
            0 0 13px #bc13fe,
            0 0 15px #bc13fe;
    }
}

/* _________________________________________________________ Sidebar */
#sidebar {
    width: 70px;
    min-width: 70px;
    min-height: calc(100vh);
    z-index: 1000;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg);
}

#platforms-item {
    background-color: var(--light-bg);
}

/* Expand Size */
#sidebar.expand {
    width: 200px;
    min-width: 200px;
}

/* GameFeast Icon and Logo background */
#logo-button-container {
    background-color: var(--dark-bg);
    border-radius: 0 20px 0 20px;
    border-bottom: 3px solid #000000;
}

/* The GameFeast Icon aka Star */
#sidebar-icon {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#sidebar-icon i {
    font-size: 1.5rem;
    color: var(--logo-font);
}

/* The GameFeast Logo */
.sidebar-logo {
    margin: 0 0 0 10px;
    opacity: 100;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.2s;
}

#sidebar-link-span {
    opacity: 100;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.2s;
}

.sidebar-logo a {
    color: var(--logo-font);
    font-size: 1.15rem;
    font-weight: 600;
}

/* don't show labels if not expanded */
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) #sidebar-link-span {
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

/* for nav bar excluding GameFeast logo */
.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

/* for icons */
.sidebar-link i,
#username-link i {
    font-size: 1.1rem;
    margin-right: 1rem;
}

/* for icon background */
a.sidebar-link,
#username-link {
    padding: .625rem 1.4rem;
    color: var(--main-font);
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border-left: 3px solid var(--dark-bg);
    border-right: 3px solid var(--dark-bg);
}

/* _________________________________________________________ Add Menu */
#form_1:not(.display) #add-form,
#form_2:not(.display) #edit-game-form,
#form_3:not(.display) #edit-dev-form {
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

#form_1, #form_2, #form_3 {
    width: 0px;
    min-width: 0px;
    min-height: calc(100vh);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg);
}

#form_1.display, #form_2.display, #form_3.display {
    width: 350px;
    min-width: 350px;
    opacity: 100;
    transition: all 0.3s ease-in-out;
}

#add-form, #edit-game-form, #edit_dev_form {
    color: var(--main-font);
    display: block;
    opacity: 100;
    transition: all 0.5s ease-in-out;
}

#add-input,
#price-input,
#add-textarea,
#dev-select {
    width: 100%;
    background-color: var(--input-bg);
    color: var(--main-font);
}

#dev-select {
    height: 100px;
}

/* Add game button */
#add-button {
    height: 50px;
    width: 50%;
    color: var(--main-font);
    background-color: var(--main-bg);
    border: 3px solid var(--dark-border);
    border-radius: 30px;
}

#add-button:hover {
    background-color: var(--hover-buttons);
}

#add-form-dropdown {
    background-color: var(--light-bg);
}

/* for icons */
#add-form-icon {
    font-size: 1.1rem;
    margin-right: 1rem;
}

/* for icon background */
a#add-form-link {
    padding: .625rem 1.4rem;
    color: var(--main-font);
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

a#add-form-link:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border-left: 3px solid var(--dark-bg);
    border-right: 3px solid var(--dark-bg);
}


/* _________________________________________________________ Topbar */
#topbar {
    width: 100%;
    /* background-color: #000000; */
    /* border-bottom: 0.2rem solid #fff; */
    /* margin-bottom: 20px; */
    height: 50px;
    color: var(--logo-font);
    /* animation: neon-text 1.5s infinite alternate; */
}

#add-button-container {
    height: 100%;
    margin-right: 20px;
    /* background-color: var(--dark-bg); */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    height: 50px;
    font-size: 40px;
    border-radius: 50px;
    background-color: var(--main-bg);
}

#add-button-container:hover {
    background-color: var(--hover-buttons);
}

#add-button-container button {
    height: 50px;
    padding: 0;
    background-color: transparent;
}

#add-menu-button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    width: 100%;
    height: 100%;
}

#heading {
    margin-left: 10px;
    font-size: 3rem;
    margin: 0;
}

/* _________________________________________________________ Home */
#table-container {
    width: 95%;
    height: 54vh;
    min-height: 54vh;
    background-color: var(--light-bg);
    border: 3px solid var(--main-border); 
    padding: 0.4em;
    border-radius: 0 0 30px 30px;
}

#table-container thead th {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: var(--dark-bg);
    color: var(--logo-font);
}
table {
    width: 100%;
    font-size: 20px;
}

table a {
    color: var(--main-font);
}

#carousel {
    width: 95%;
    border-radius: 30px 30px 0 0;
    border-top: 3px solid var(--main-border);
    border-left: 3px solid var(--main-border);
    border-right: 3px solid var(--main-border);
    overflow: hidden;
}

tr:hover {
    border-bottom: 2px solid var(--main-border);
    background-color: var(--hover-buttons); /* Change this to your desired hover color */
}

#table-link {
    display: block;
    width: 100%;
    padding: 10px;
}

#home-button {
    color: var(--logo-font)!important; 
    font-size: 20px;
}

/* _________________________________________________________ Game Profile */
#game-layout, #dev-layout {
    background-color: var(--light-bg);
    border-radius: 30px; 
    border: 3px solid var(--main-border); 
}

/* this will have fixed height */
#game-detail-section, #dev-detail-section {
    height: 27vh;
    min-height: 27vh;
}

#average-section {
    height: 8vh;
    min-height: 8vh;
    /* border-top: 3px solid black; */
    border-bottom: 3px solid var(--dark-border);
    padding-top: 13px;
    background-color: var(--dark-bg);
}

/* this will take the remaining height */
#reviews-section, #games-section {
    height: 58vh;
    min-height: 58vh;
    display: flex;
    justify-content: center;
}

/* this will have fixed height */
#review-form-section {
    height: 40vh;
    min-height: 40vh;
}

#other-section {
    height: 53vh;
    min-height: 53vh;
}

#review-icon,
#rating-display {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* This change range style */
#rating-range::-webkit-slider-thumb {
    background: var(--dark-bg);
}

#rating-range::-moz-range-thumb {
    background: var(--dark-bg);
}

#rating-range::-ms-thumb {
    background: var(--dark-bg);
}

#reviews-container, #games-container {
    height: 95%;
    width: 60%;
}

#no-review-box, #no-game-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#no-review, #no-game {
    background-color: var(--main-bg);
    padding: 20px;
    border-radius: 20px;
    border: 3px solid var(--main-border);
    color: var(--main-font);
}

#other-title {
    height: 8vh;
    min-height: 8vh;
    padding-top: 13px;
    background-color: var(--dark-bg);
}

#other-games-container {
    height: 45vh;
    min-height: 45vh;
}

#other-games-box {
    height: 45vh;
    min-height: 45vh;
    width: 100%;
    /* border-left: 3px solid var(--dark-border);
    border-right: 3px solid var(--dark-border);
    border-bottom: 3px solid var(--dark-border); */
}

#other-game-rows {
    height: 100%;
    display: flex;
    background-color: var(--main-bg);
    color: var(--main-font);
}

#other-game-rows:hover {
    background-color: var(--hover-buttons);
    border-left: 3px solid var(--dark-bg);
    border-right: 3px solid var(--dark-bg);
}

.card {
    background-color: var(--main-bg);
}

.card-header {
    background-color: var(--dark-bg);
    color: var(--logo-font);
}

/* Edit Game */
#edit-game-container {
    height: 94vh;
    min-height: 94vh;
    width: 98%;
    background-color: var(--light-bg);
    border-radius: 30px; 
    border: 3px solid var(--main-border); 
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-edit-form {
    height: 80vh;
    min-height: 80vh;
    width: 60%;
    background-color: var(--light-bg);
    border-radius: 30px; 
    border: 3px solid var(--main-border); 
}

#edit-game-row {
    height: 100%;
}

#game-detail-box {
    color: var(--main-font);
    /* background-color: #7C00FE; */
    width: 90%;
    height: auto;
}

#game-detail-col, #dev-detail-col , #game-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#review-button-container {
    margin-left: 10px;
    text-align: right;
}

#about-box {
    color: var(--main-font);
    /* background-color: #A6B1E1; */
    height: auto;
    width: 90%;
}

#posted-by {
    font-size: 12px;
    padding-top: 5px;
}

#game-about, #dev-about {
    font-size: 15px;
    white-space: pre-line;
}

#edit-game-button, #edit-dev-button {
    background-color: var(--edit-button);
}

#delete-game-button, #delete-dev-button {
    background-color: var(--delete-button);
}

#edit-game-button, #delete-game-button, #edit-dev-button, #delete-dev-button {
    width: 49%;
    border-radius: 10px;
    color: var(--logo-font);
    font-size: 13px;
}

#dev-link {
    color: var(--main-font);
    font-style: italic;
}

#review-edit-button {
    color: var(--edit-button2);
}

#review-delete-button {
    color: var(--delete-button2);
}

#go-back-button {
    color: var(--logo-font);
    font-size: 30px;
}

#alert {
    width: 50%;
    font-size: small;
}

#required {
    color: red;
}

/* _________________________________________________________ Dev Page */

#devs-intro-container {
    width: 95%;
    height: 10vh;
    min-height: 10vh;
    background-color: var(--dark-bg);
    color: var(--logo-font);
    border-radius: 30px 30px 0 0;
    border-top: 3px solid var(--main-border);
    border-left: 3px solid var(--main-border);
    border-right: 3px solid var(--main-border);
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 1.1rem;
}
#devs-intro-container:hover {
    background-color: var(--hover-buttons);
}

#devs-list-container {
    overflow-x: hidden;
    overflow-y: auto;
    width: 95%;
    height: 82vh;
    min-height: 82vh;
    background-color: var(--light-bg);
    border-radius: 0 0 30px 30px;
    border: 3px solid var(--main-border);
}

#devs-list {
    width: 50%;
    background-color: transparent;
}

#dev-list-item {
    display: block;
    color: var(--main-font);
    background-color: var(--main-bg);
    height: 15vh;
    margin-bottom: 20px;
    border-left: 3px solid var(--main-border);
    border-right: 3px solid var(--main-border);
}

#dev-list-item:hover {
    background-color: var(--hover-buttons);
    border-left: 3px solid var(--dark-border);
    border-right: 3px solid var(--dark-border);
}

#dev-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dev-info {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    height: 8vh;
}

#dev-info-1 {
    font-size: 2rem;
    color: var(--main-font);
    height: 7vh;
}

#dev-logo, #dev-profile-logo {
    border-radius: 50%;
    border: 2px solid var(--main-border);
    background-color: var(--dark-bg);
    height: 12vh;
    width: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--logo-font);
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#unknown {
    font-size: 1.5rem;
}

/* _________________________________________________________ Dev Profile */
/* used some of game profile css */
#logo-container,
#dev-button-container,
#game-rating-box,
#game-name-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dev-layout {
    width: 95%;
}

#dev-name {
    font-size: 2.5rem;
    text-align: center;
}

#logo-container {
    width: 100%;
}

#dev-button-container {
    width: 15vw;
    margin: auto;
}

#dev-games-container {
    border-radius: 10px;
    border: 1px solid gray;
    margin: 5px 0 7px 0;
    height: 10vh;
    min-height: 10vh;
    overflow: hidden;
}

#dev-games-link {
    background-color: var(--main-bg);
    display: block;
    height: 10vh;
    min-height: 10vh;
}

#dev-games-link:hover {
    background-color: var(--hover-buttons);
}

#game-rating-box {
    background-color: var(--dark-bg);
    color: var(--logo-font);
    height: 10vh;
    min-height: 10vh;
    font-size: 2rem;
}

#game-name-box {
    flex-direction: column;
    height: 10vh;
    min-height: 10vh;
    color: var(--main-font);
}

#games-name {
    font-size: 2rem;
}