@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transform: all 0.35s ease-in-out;
    background-color: #fafbfe;
}


#sidebar {
    width: 70px;
    min-width: 70px;
    min-height: calc(100vh);
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #4d0808;
}

#platforms-item {
    background-color: #831515;
}

/* Expand Size */
#sidebar.expand {
    width: 200px;
    min-width: 200px;
}

/* GameFeast Icon and Logo background */
.d-flex {
    background-color: #2e0000;
    border-radius: 0 20px 0 20px;
    border-bottom: 3px solid #000000;
}

/* The GameFeast Icon aka Star */
#sidebar-icon{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}
#sidebar-icon i {
    font-size: 1.5rem;
    color: #fff;
}

/* The GameFeast Logo */
.sidebar-logo {
    margin: auto 0;
}
.sidebar-logo a {
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
}

/* don't show labels if not expanded */
#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) #sidebar-link-span {
    display: none;
}

/* for nav bar excluding GameFeast logo */
.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

/* for icons */
.sidebar-link i {
    font-size: 1.1rem;
    margin-right: 1rem;
}
/* for icon background */
a.sidebar-link {
    padding: .625rem 1.4rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}
a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border-left: 3px solid white;
}

